<!DOCTYPE html>
<html lang="en">
<head>



    <title>Financial Risk Management</title>


<style>
body {
  background-image: url('https://www.iqbizsuite.com/iqnew/img/service/payroll_background_full.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
</head>
<body>
    <center>
                    <h2 class="title">Financial Risk Assessment</h2>
                    <form action="/model" method="post">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="Sex">
                                            <option disabled="disabled" selected="selected">Sex
                                            </option>
                                            <option value="female">female</option>
                                            <option value="male">male</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="clo-2">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="Job">
                                            <option disabled="disabled" selected="selected">Jobs</option>
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="clo-2">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="Checking account">
                                            <option disabled="disabled" selected="selected">Checking account</option>
                                            <option value="rich">rich</option>
                                            <option value="moderate">moderate</option>
                                            <option value="little">little</option>

                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="clo-2">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="Housing">
                                            <option disabled="disabled" selected="selected">Housing</option>
                                            <option value="own">own</option>
                                            <option value="free">free</option>
                                            <option value="rent">rent</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="clo-2">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="Saving accounts">
                                            <option disabled="disabled" selected="selected">Saving accounts</option>
                                            <option value="rich">rich</option>
                                            <option value="quite rich">quite rich</option>
                                            <option value="moderate">moderate</option>
                                            <option value="little">little</option>

                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="clo-2">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="Purpose">
                                            <option disabled="disabled" selected="selected">Purpose</option>
                                            <option value="radio/TV">radio/TV</option>
                                            <option value="education">education</option>
                                            <option value="furniture/equipment">furniture/equipment</option>
                                            <option value="car">car</option>
                                            <option value="business">business</option>
                                            <option value="domestic appliances">domestic appliances</option>
                                            <option value="repairs">repairs</option>
                                            <option value="vacation/others">vacation/others</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="clo-2">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <input type="number" name="Credit amount" value="" placeholder="Credit amount">
                                    </div>
                                </div>
                            </div>
                            <div class="clo-2">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <input type="number" name="Duration" value="" placeholder="Duration">
                                    </div>
                                </div>
                            </div>
                            <div class="clo-2">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <input type="number" name="Age" value="" placeholder="Age">
                                    </div>
                                </div>
                            </div>
                            <input type="submit" value="submit">
                        </div>
                    </form>
    </center>
</body>
</html>